body {
    background: #dadada;
}

header {
    background: #000;
    padding: 30px 0 20px 0;
    border-bottom: 15px solid #af0606;
}

.header-srch button {
    background: red !important;
    color: #FFF !important;
    border: 1px solid red !important;
}

.header-icons {
    padding-left: 35px;
    top: 8px;
}

.header-icons .fa {
    display: inline-block;
    height: 30px;
    width: 40px;
    color: #FFF;
    font-size: 25px;
}

.no-pad {
    padding: 0;
}

.pad-2 {
    padding: 2px;
    background: #FFF
}

.pad-side-7 {
    padding-left: 7px;
    padding-right: 7px;
}

.margin-top-7 {
    margin-top:7px;
}

#carousel-1 img {
    height: 313px;
}

.bx-card {
    background: #FFF;
    padding: 2px;
    position: relative;
}

.bx-card + .bx-card {
    margin-top: 7px;
}

.bx-card img {
    width: 100px;
    height: 70px;
}

.bx-card .title {
    position: absolute;
    left: 107px;
    right: 5px;
    max-height: 40px;
    display: inline-block;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-size: 13px;
}

.bx-card .src {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 107px;
    font-size: 12px;
    width: auto;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#rightShowImg {
    width:100%;
    height:232px;
}