body {
    background: rgb(244,244,242);
}

ul {
    padding: 0;
}

.all-container {
    padding-top: 110px; 
}

.single-page-layout .all-container {
    background: #FFF; 
}

.main-header {
    background: #000;
    padding: 30px 0 20px 0;
    border-bottom: 15px solid rgb(221,51,51);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.header-srch button {
    background: rgb(222,51,49) !important;
    color: #FFF !important;
    border: 1px solid rgb(222,51,49) !important;
}

.header-icons {
    padding-left: 35px;
    top: 8px;
}

.header-icons .fa {
    display: inline-block;
    height: 30px;
    width: 40px;
    color: #FFF;
    font-size: 25px;
}

.breadcrumb {
    background: #FFF;
    margin-bottom: 0;
}

.breadcrumb>li+li:before {
    content: "> ";
}

.single-content .tags {
    list-style: none;
    padding: 8px 15px;
}

.single-content .tags .tag {
    display: inline-block;
    border-radius: 2px;
}

.single-content .tags .tag + .tag {
    margin-left: 3px;
}

.single-content .tags .tag a {
    font-size: 12px;
    color: #FFF;
    padding: 2px 3px;
    display: block;
    text-decoration: none;
}

.single-content .tags .tag-tech {
    background: skyblue;
}

.single-content .tags .tag-code-war {
    background: red;
}

.single-content .tags .tag-prog-lang {
    background: orange;
}


.single-content .main-content-area {
    
}

.single-content .main-content-area .viewShare-info span {
    margin-right: 5px;
}


.no-pad {
    padding: 0;
}

.pad-2 {
    padding: 2px;
    background: #FFF
}

.pad-side-7 {
    padding-left: 7px;
    padding-right: 7px;
}

.margin-top-7 {
    margin-top:7px;
}

.subsection {
    margin: 15px 0;
    border-top: 1px solid #ccc;
}

.subsection .content {
/*    border: 1px solid lightblue;*/
    height: 250px;    
}

.subsection .title {
    display: inline-block;
    color: rgb(87,89,104);
    font-weight: bold;
}

.subsection .sublinks {
    display: inline-block;
    margin: 7px 0;
}

.subsection .sublink {
    display: inline-block;
    list-style: none;
    margin-left: 5px;
    color: rgb(109,109,107);
    font-size: 14px;
    cursor: pointer;
}

.subsection .sublink.active {
/*    color: #555;*/
    font-weight: bold;
}

.subsection .subcontent {
    display: none;
}

#carousel-1 img {
    height: 313px;
    width: 488px;
}

.bx-card {
    background: #FFF;
    padding: 4px;
    position: relative;
}

.bx-card + .bx-card {
    margin-top: 7px;
}

.bx-card img {
    width: 100px;
    height: 66px;
}

.bx-card .title {
    position: absolute;
    left: 107px;
    right: 5px;
    max-height: 40px;
    display: inline-block;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-size: 13px;
}

.bx-card .src {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 107px;
    font-size: 12px;
    width: auto;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.midBannerImg {
    position: relative;
    background: #FFF;
}

.midBannerImg img {
    width: 100%;
    height:232px;
}

.midBannerImg .fa-camera {
    position: absolute;
    right: 10px;
    bottom: 7px;
    font-size: 18px;
    color: #FFF;
}

.footer {
    margin: 30px 0 0 0;
    padding: 30px 0 0 0;
    border-top: 1px solid #ddd;
}

.footer .title {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px 15px;
}

.footer li {
    list-style: none;    
    padding: 3px 20px;
}


.footer .copyright-row {
    background-color: #0d0d0d;
    color: #ccc;
    margin-top: 30px;
    padding: 8px 15px 0px 15px;
}


.footer .copyright-row li {
    display: inline-block;
    padding: 0 5px;
}


/* Media Queries */

@media (min-width: 768px) {
    .footer .copyright-row ul {
        float: right;
    }
}

@media (max-width: 767px) {
    .no-pad-xs {
        padding: 0;
    }
    
    .footer .copyright-row {
        text-align: center;
    }
}