<header class="col-xs-12">
   <!-- Logo -->
   <div id="logo" class="col-md-4"></div>

   <!-- Search Bar -->
   <div class="col-md-4 header-srch">
     <div class="input-group">
         <input type="text" class="form-control" placeholder="Live Search...">
         <span class="input-group-btn">
             <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
         </span>
     </div>
   </div>

  <!-- icons -->
  <div class="col-md-4 header-icons">
      <i class="fa fa-twitter"></i>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-google-plus"></i>
      <i class="fa fa-vimeo-square"></i>
      <i class="fa fa-tumblr"></i>
      <i class="fa fa-pinterest"></i>
      <i class="fa fa-linkedin"></i>
      <i class="fa fa-flickr"></i>
  </div>
</header>