<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 carousel-container pad-2">    
     <div id="carousel-1" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
        <li data-target="#carousel-1" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        
         <div class="item active">
          <img src="img/a.png" alt="...">
          <div class="carousel-caption">
            Everyone is so busy,
          </div>
        </div>
        
        <div class="item">
          <img src="img/b.png" alt="...">
          <div class="carousel-caption">
            I see that, so do you...
          </div>
        </div>
        
        <div class="item">
          <img src="img/c.png" alt="...">
          <div class="carousel-caption">
            Horses all have gone crazy
          </div>
        </div>
        
        <div class="item">
          <img src="img/d.png" alt="...">
          <div class="carousel-caption">
            And cows are flying too...
          </div>
        </div>
      </div>

      <!-- Controls -->
<!--
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
-->
    </div>
</div>


<!-- 2nd Column -->

<div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 pad-side-7">
    
    <div class="bx-card">
        <img src="img/t.png" alt="" />
        <span class="title">A great news just broke into My House</span>
        
        <div class="src">
            <i class="fa fa-header icon"></i>
            <span class="name">The History Channel</span>
        </div>                
    </div>
    
    <!-- repeated garbage -->
    <div class="bx-card">
        <img src="img/t.png" alt="" />
        <span class="title">A great news just broke into My House</span>
        
        <div class="src">
            <i class="fa fa-header icon"></i>
            <span class="name">The History Channel</span>
        </div>                
    </div>
    <div class="bx-card">
        <img src="img/t.png" alt="" />
        <span class="title">A great news just broke into My House</span>
        
        <div class="src">
            <i class="fa fa-header icon"></i>
            <span class="name">The History Channel</span>
        </div>                
    </div><div class="bx-card">
        <img src="img/t.png" alt="" />
        <span class="title">A great news just broke into My House</span>
        
        <div class="src">
            <i class="fa fa-header icon"></i>
            <span class="name">The History Channel</span>
        </div>                
    </div>
    <!-- garbage end -->
</div>


<!-- 3rd Column -->
<div class="col-xs-12 col-sm-3 col-md-3 no-pad">
    <div id="showCaseImg" class="pad-2">
       <img id="rightShowImg" src="img/b.png" alt="" />
    </div>    
    
    <div class="bx-card margin-top-7">
        <img src="img/t.png" alt="" />
        <span class="title">A great news just broke into My House</span>
        
        <div class="src">
            <i class="fa fa-header icon"></i>
            <span class="name">The History Channel</span>
        </div>                
    </div>
    
</div>

<!-- ---------- -->