<section class="subsection">
    <label class="title">Sports</label>
    <ul class="sublinks">
        <li data-content-id="sports-cricket" class="sublink active">Cricket</li>
        <li data-content-id="sports-soccer" class="sublink">Soccer</li>
        <li data-content-id="sports-tennis" class="sublink">Tennis</li>
    </ul>
    <div style="clear:both;"></div>
    <div class="content">
        <div id="sports-cricket" class="subcontent animated slideInRight">
            <div class="dummy1">Cricket</div><div class="dummy1">Cricket</div><div class="dummy1">Cricket</div><div class="dummy1">Cricket</div>
        </div>

        <div id="sports-soccer" class="subcontent animated slideInRight">
            <div class="dummy1">Soccer</div><div class="dummy1">Soccer</div><div class="dummy1">Soccer</div><div class="dummy1">Soccer</div>
        </div>

        <div id="sports-tennis" class="subcontent animated slideInRight">
            <div class="dummy1">Tennis</div><div class="dummy1">Tennis</div><div class="dummy1">Tennis</div><div class="dummy1">Tennis</div>
        </div>
    </div>
</section>