/**
* FOE BOTH FE & BE
**/
@import url('https://fonts.googleapis.com/css?family=Exo:400,700&display=swap');
:root {
    --primary-color: #d50000;
    --primary-color-dark: #950000;
    --primary-color-light: #dd3333;
    --secondary-color: #ff3d00;
    --secondary-color-dark: #b22a00;
    --secondary-color-light: #ff6333;
    --nightmode-font: #eee;
    --nightmode-bg: rgba(255, 255, 255, .2)
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}
body {
    font-size: 16px;
    font-family: 'Exo', sans-serif;
    /*padding: 10px;*/
}
.hidden, .hide {
  display: none !important;
}
.dev-mode .reactive-timeline .component-box .idchip {
  display: inline-flex;
}
/**********************************************
* Custom Scrollbar
**********************************************/
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d50000; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #950000; 
  }
/********************************************/

/********************************************************
* NIGHT MODE
********************************************************/
.night-mode {
    background: #000;
    color: var(--nightmode-font);
}
.night-mode .nmw {
    color: var(--nightmode-font) !important;
}
.night-mode .nmbg {
    background: var(--nightmode-bg) !important;
}
.night-mode .reactive-timeline .name-label,
.night-mode .collapsible-header {
    background: #000;
}
.night-mode .modal-content {
    background: #222;
}
/*******************************************************/

/********************************************************
* HEADERBAR
********************************************************/
.headerbar .profile-link {
  position: absolute;
  right: 6px;
  top: 64px;
  background: #fff;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  box-shadow: -3px 3px 10px 2px var(--secondary-color-light);
  transition: all 300ms ease-in;
  transform: scale(0);
  transform-origin: top right;
  z-index: 1100;
}
.headerbar .profile-link.visible {
  transform: scale(1);
}
.headerbar .profile-link::before {
  content: '';
  position: absolute;
  top: -17px;
  right: 5px;
  display: inline-block;
  border-bottom: 17px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.headerbar .profile-link .greet {
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
}
/*******************************************************/

/********************************************************
* ANIMATIONS, YEAH!!!
********************************************************/
.rotating {
  animation: anim-rotate 2s linear 0s infinite;
}
@keyframes anim-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}