<footer>
    <div class="footer row">
        <div class="col s12 m8 info-text">
            <p>
                Reactale is what happens when literature embraces technology and comes to life. When a reader reads a Reactale (a.k.a Reactive Tale), the Reactale also reads back its reader and then reacts by magically altering itself depending on the reader's actions / decisions / sorroundings and other learnings that are made available to it about its reader.
            </p>
            <p>
                REACTALE marks the birth of a NEW ERA of story telling, in search of a new way, a very REACTIVE one, where no longer will an immersive tale ONLY ENGAGE its readers, but it will INTERACT, and most importantly, it will REACT...
            </p>
        </div>
        <div class="col s12 m4 urls-sec">
            <h4>Connect</h4>
            <ul class="social-connect">
                <li>
                    <a href="https://www.facebook.com/reactale" target="_blank">
                        <i class="fab fa-facebook-square ico"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/ReactiveTales" target="_blank">
                        <i class="fab fa-twitter-square ico"></i>
                    </a>
                </li>
                <li>
                    <a href="mailto:hello@reactale.com" target="_blank">
                        <i class="fas fa-envelope ico"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" onclick="alert('Android App coming soon...')">
                        <i class="fas fa-mobile-alt ico"></i>
                    </a>
                </li>
            </ul>

            <h4>Links</h4>
            <ul class="important-links">
                <li>
                    <a href="https://reacto.reactale.com" target="_blank">
                        Reacto
                    </a>
                </li>
                <li>
                    <a href="/rtale/privacy-policy" target="_blank">
                        Privacy policy
                    </a>
                </li>
                <li>
                    <a href="/rtale/terms-and-conditions" target="_blank">
                        Terms and conditions
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>