<div id="sidebar" class="sidebar">
	<div class="inner">
		<ul>
			<li>
				<a href="/">
					<i class="fas fa-home ico"></i>
					<span>Home</span>
				</a>
			</li>
			<li>
				<a href="/gallery">
					<i class="fas fa-book-reader ico"></i>
					<span>Gallery</span>
				</a>
			</li>
			<li>
				<a href="/search">
					<i class="fas fa-search ico"></i>
					<span>Search</span>
				</a>
			</li>
			<li>
				<a href="<%= process.env.URL_WEBAPP %>/r/create-tale">
					<i class="fas fa-plus-square ico"></i>
					<span>Create Tale</span>
				</a>
			</li>
			<li>
				<a href="<%= process.env.URL_WEBAPP %>/r/notifications">
					<i class="fas fa-bell ico"></i>
					<span>Notifications</span>
				</a>
			</li>
			<li>
				<a href="<%= process.env.URL_WEBAPP %>/r/my-tales">
					<i class="fas fa-briefcase ico"></i>
					<span>My Tales</span>
				</a>
			</li>
			<!-- <li>
				<a href="/about">
					<i class="fas fa-info-circle ico"></i>
					<span>About</span>
				</a>
			</li> -->
			<li class="loginout out">
				<a href="<%= process.env.URL_WEBAPP %>/r/home?openLogin=true" class="login">
					<i class="fas fa-sign-in-alt ico"></i>
					<span>Login</span>
				</a>
				<a href="javascript:void(0)" class="logout">
					<i class="fas fa-sign-in-alt ico"></i>
					<span>Logout</span>
				</a>
			</li>
		</ul>
	</div>
</div>