.headerbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--primary-color);
    height: 60px;
    padding: 0 10px;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 999;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.headerbar .logo {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 300ms ease-in;
}
.headerbar .logo .anchor-block {
    padding-top: 5px;
}
.headerbar .logo img {
    height: 40px;
}
.headerbar .toggle-sidebar {
    font-size: 20px;
    color: #fff;
}
.headerbar .profile-link .greet {
    width: 63px;
    overflow: hidden;
    font-size: 13px;
    text-overflow: ellipsis;
    padding-top: 7px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

@media (max-width: 600px) {
    .headerbar {
        height: 50px;
    }
    .headerbar .logo img {
        height: 30px;
    }
}