.logoContainer {
    flex-grow: 1;
    padding-top: 2px;
    text-align: center
}
.logoImg {
  height: 45px;
}

@media (max-width: 768px) {
  .logoImg {
    height: 40px;
  }
}

@media (max-width: 420px) {
  .logoImg {
    height: 30px;
  }
}