.logoContainer {
    flex-grow: 1;
    padding-top: 2px;
    text-align: center
}
.logoImg {
  height: 40px;
}
@media (max-width: 600px) {
  .logoImg {
    height: 30px;
  }
  .rightBtnsHolder button {
    padding: 0 10px 0 5px;
  }
}