<div>
	<style>
		:root {
			--dark-color: #d50000;
			--light-color: #fff;
		}
		.actreactframe {
			position: relative;
			margin: 0 auto;
			width: 320px;
			height: 200px;
		}
		.actreactframe * {
			position: absolute;
		}
		.actreactframe .face {
		  height: 120px;
		  width: 120px;
		  border: 3px solid #d50000;
		  border-radius: 50%;
		  left: 0;
		  top: 0;
		}
		.actreactframe .eyebrow {
		    height: 19px;
		    width: 20px;
		    border-top: 7px solid #d50000;
		    border-radius: 50%;
		    top: 26px;
		    left: 35px;
		    transform: rotate(4deg);
		}
		.actreactframe .eyebrow.right {
			left: 82px;
    		top: 19px;
		}
		.actreactframe .eye {
		  height: 20px;
		  width: 15px;
		  border: 3px solid #d50000;
		  border-radius: 50%;
		  top: 40px;
		  overflow: hidden;
    	  transform: scaleY(1);
    	  animation: eye-blinks 3s linear 0s infinite;
		}
		.actreactframe .eye.left {
		  left: 35px;
		}
		.actreactframe .eye.right {
		  left: 80px;
		}
		.actreactframe .nose {
		    height: 11px;
		    width: 6px;
		    border: 3px solid #d50000;
		    border-top: unset;
		    border-left: unset;
		    top: 63px;
		    left: 65px;
		    transform: rotate(-40deg);
		}
		.actreactframe .mouth {
		  height: 8px;
		  width: 30px;
		  background: #d50000;
		  bottom: 25px;
		  left: 51px;
		  border-radius: 4px
		}
		.actreactframe .eyeball {
		  height: 12px;
		  width: 12px;
		  background: #d50000;
		  border-radius: 50%;
		  top: 3px;
		  right: -5px
		}

		.actreactframe .face.mirror {
			right: 0;
			left: auto;
			transform: scaleX(-1);
			background: var(--dark-color);
		}
		.actreactframe .face.mirror .eye {
			animation: eye-blinks 3s linear 450ms infinite;
			border-color: var(--light-color);
		}
		.actreactframe .face.mirror .eyeball, 
		.actreactframe .face.mirror .mouth {
			background-color: var(--light-color);
		}
		.actreactframe .face.mirror .nose, 
		.actreactframe .face.mirror .eyebrow {
			border-color: var(--light-color); 
		}
		.actreactframe .sep {
			width: 0px;
		    height: 200px;
		    left: 157px;
		    top: 0;
		    border-left: 10px double var(--dark-color);
		    border-radius: 5px;
		}
		.actreactframe .text1, .actreactframe .text2 {
			top: 135px;
			font-size: 22px;
			color: var(--dark-color);
			font-weight: bold;
		}
		.actreactframe .text1 {
			left: 0;
		}
		.actreactframe .text2 {
			right: 0;
		}
		.actreactframe .arrow {
			top: 174px;
		    left: 0;
		    height: 10px;
		    width: 129px;
		    background: var(--dark-color);
		}
		.actreactframe .arrow .head {
		  	width: 0;
		    height: 0;
		    border-top: 15px solid transparent;
		    border-bottom: 15px solid transparent;
		    border-left: 15px solid var(--dark-color);
		    left: 129px;
		    top: -9px;
		}
		.actreactframe .arrow.reverse {
			transform: scaleX(-1);
			right: 0;
			left: auto;
		}

		@keyframes eye-blinks {
			0% { transform: scaleY(1); }
			5% { transform: scaleY(0); }
			10% { transform: scaleY(1); }
			15% { transform: scaleY(1); }
			20% { transform: scaleY(1); }
			25% { transform: scaleY(1); }
			30% { transform: scaleY(1); }
			35% { transform: scaleY(0); }
			40% { transform: scaleY(1); }
			45% { transform: scaleY(0); }
			50% { transform: scaleY(1); }
			55% { transform: scaleY(1); }
			60% { transform: scaleY(1); }
			65% { transform: scaleY(1); }
			70% { transform: scaleY(1); }
			75% { transform: scaleY(1); }
			80% { transform: scaleY(1); }
			85% { transform: scaleY(1); }
			90% { transform: scaleY(1); }
			95% { transform: scaleY(1); }
			100% { transform: scaleY(1); }
		}
	</style>

	<div class="actreactframe">
		<div class="face">
			<div class="eyebrow left"></div>
			<div class="eyebrow right"></div>
			<div class="eye left">
				<div class="eyeball"></div>
			</div>
			<div class="eye right">
				<div class="eyeball"></div>
			</div>
			<div class="nose"></div>
			<div class="mouth"></div>
		</div>

		<div class="text1">Readers Act</div>
		<div class="sep"></div>
		<div class="text2">Tales React</div>

		<div class="arrow">
			<div class="head"></div>
		</div>
		<div class="arrow reverse">
			<div class="head"></div>
		</div>

		<div class="face mirror">
			<div class="eyebrow left"></div>
			<div class="eyebrow right"></div>
			<div class="eye left">
				<div class="eyeball"></div>
			</div>
			<div class="eye right">
				<div class="eyeball"></div>
			</div>
			<div class="nose"></div>
			<div class="mouth"></div>
		</div>
	</div>
</div>