<div>
	<style>
		#giftataleanim .imgcontainer {
			height: 300px;
			width: 300px;
			background: #000;
			border-radius: 50%;
			position: relative;
			overflow: hidden;
			transform: rotateZ(15deg);
			margin: 0 auto;
		}
		#giftataleanim .imgcontainer .witch {
			position: absolute;
		    top: 31px;
		    left: 31px;
		    width: 240px;
		}
		#giftataleanim .imgcontainer .cloud {
			position: absolute;
		    top: 134px;
		    left: 0;
		    transform-origin: top left;
		    animation: cloudmove 3s linear infinite;
		}
		#giftataleanim .story-title {
			text-align: center;
			font-size: 27px;
		}
		#giftataleanim .story {
			padding: 15px;
			text-align: justify;
		}
		#giftataleanim .story .vars {
			font-weight: bold;
		    display: inline-block;
		    height: 16px;
		    overflow: hidden;
		    transform: translateY(1.5px);
		}
		#giftataleanim .story .vars .inner {
			width: 160px;
		    height: auto;
		    transform: translateY(-2%);
		    animation: scrollanim 5s linear 0s infinite;
		}
		@keyframes cloudmove {
			0% { opacity: 1; transform: translateX(-310px); }
			98% { opacity: 1; transform: translateX(310px); }
			99% { opacity: 0; transform: translateX(310px); }
			100% { opacity: 0; transform: translateX(-310px); }
		}
		@keyframes scrollanim {
			0% { transform: translateY(-2%); }
			19% { transform: translateY(-2%); }
			20% { transform: translateY(-22%); }
			39.9% { transform: translateY(-22%); }
			40% { transform: translateY(-42%); }
			59.9% { transform: translateY(-42%); }
			60% { transform: translateY(-62%); }
			79.9% { transform: translateY(-62%); }
			80% { transform: translateY(-82%); }
			99.9% { transform: translateY(-82%); }
			100% { transform: translateY(0%); }
		}
	</style>
	<div id="giftataleanim">
		<div class="imgcontainer">
			<img class="cloud" src="/be-assets/img/home/cloud-white-300w.png" />
			<img class="witch" src="/be-assets/img/home/little-witch-red-300w.png" />
		</div>
		<h2 class="story-title">The Wonder Witch</h2>
		<div class="story">
			When Harry Potter and his friends were busy fighting Voldemort, there was one little witch, who used to sneak out in disguise to help and defend the common people from evil forces. She was a hero among the people known as <b>The Wonder Witch</b>. Everybody loved her, but no one knew that she is actually a little girl named&nbsp;
				<div class="vars">
					<div class="inner">
						<div>Adwaiti from India</div>
						<div>Hanna from Sweden</div>
						<div>Kristin from Canada</div>
						<div>Morena from Brazil</div>
						<div>Nicole from Australia</div>
					</div>
				</div>
		</div>
	</div>
</div>