<div>
	<style>
		*,
		*:before,
		*:after {
			box-sizing: border-box;
		}
		#tfanimcont {
		  width: 320px;
		  display: block;
		  height: 270px;
		  position: relative;
		  margin: 0 auto;
		}
		#tfanimcont .st {
		  position: absolute;
		  height: 40px;
		  width: 80px;
		  border: 1px solid #d50000;
		  background: #fff;
		  z-index: 99;
		}
		#tfanimcont .st span {
			position: absolute;
			top: 12px;
			left: 0;
			right: 0;
			width: 100%;
			text-align: center;
			color: #fff;
			font-size: 14px;

		}
		#tfanimcont .st-1 {
		  top: 0;
		  left: 120px;
		}
		#tfanimcont .st-2 {
		  top: 120px;
		  left: 60px;
		}
		#tfanimcont .st-3 {
		  top: 120px;
		  left: 180px;
		}
		#tfanimcont .st-4,
		#tfanimcont .st-5,
		#tfanimcont .st-6 {
			top: 230px;
		}
		#tfanimcont .st-4 {
		  left: 0px;
		}
		#tfanimcont .st-5 {
		  left: 120px;
		}
		#tfanimcont .st-6 {
		  left: 240px;
		}
		#tfanimcont .ch {
		  display: inline-block;
		  background: #d50000;
		  width: 1px;
		  height: 108px;
		  position: absolute;
		  transform-origin: top left;
		}
		#tfanimcont .left {
		  transform: rotate(39deg)
		}
		#tfanimcont .right {
		  transform: rotate(-39deg)
		}
		#tfanimcont .ch-1-2,
		#tfanimcont .ch-1-3 {
		  top: 38px;
		  left: 160px;
		}
		#tfanimcont .ch-2-4,
		#tfanimcont .ch-2-5,
		#tfanimcont .ch-3-6,
		#tfanimcont .ch-3-7 {
		  top: 158px;
		  left: 100px;
		}
		#tfanimcont .ch-3-6,
		#tfanimcont .ch-3-7 {
		  left: 220px;
		}
		#tfanimcont .ch:before {
		  content: '';
		  display: inline-block;
		  position: absolute;
		  left: -1px;
		  top: 0;
		  width: 3px;
		  background: #d50000;
		  height: 100%;
		  max-height: 0;
		}

		#tfanimcont .st:before {
		  content: '';
		  display: block;
		  position: absolute;
		  left: 0;
		  top: 0;
		  right: 0;
		  background: #d50000;
		  width: 100%;
		  height: 100%;
		  max-height: 0;
		/*   transform-origin: top left;
		  transform: scaleY(0); */
		}

		#tfanimcont .st-1:before {
		   animation: st-level-1 5s linear 0s infinite;
		}
		#tfanimcont .ch-1-2:before,
		#tfanimcont .ch-1-3:before {
		  animation: ch-level-1 5s linear 0s infinite;
		}
		#tfanimcont .st-2:before,
		#tfanimcont .st-3:before {
		  animation: st-level-2 5s linear 0s infinite;
		}
		#tfanimcont .ch-2-4:before,
		#tfanimcont .ch-2-5:before,
		#tfanimcont .ch-3-6:before,
		#tfanimcont .ch-3-7:before {
		  animation: ch-level-2 5s linear 0s infinite;
		}
		#tfanimcont .st-4:before,
		#tfanimcont .st-5:before,
		#tfanimcont .st-6:before {
		  animation: st-level-3 5s linear 0s infinite;
		}
		@keyframes st-level-1 {
		  0% { max-height: 0; }
		  16.6% { max-height: 100%; }
		  33.2% { max-height: 100%; }
		  49.8% { max-height: 100%; }
		  66.4% { max-height: 100%; }
		  83% { max-height: 100%; }
		  100% { max-height: 100%; }
		}
		@keyframes ch-level-1 {
		  0% { max-height: 0; }
		  16.6% { max-height: 0; }
		  33.2% { max-height: 100%; }
		  49.8% { max-height: 100%; }
		  66.4% { max-height: 100%; }
		  83% { max-height: 100%; }
		  100% { max-height: 100%; }
		}
		@keyframes st-level-2 {
		  0% { max-height: 0; }
		  16.6% { max-height: 0; }
		  33.2% { max-height: 0; }
		  49.8% { max-height: 100%; }
		  66.4% { max-height: 100%; }
		  83% { max-height: 100%; }
		  100% { max-height: 100%; }
		}
		@keyframes ch-level-2 {
		  0% { max-height: 0; }
		  16.6% { max-height: 0; }
		  33.2% { max-height: 0; }
		  49.8% { max-height: 0; }
		  66.4% { max-height: 100%; }
		  83% { max-height: 100%; }
		  100% { max-height: 100%; }
		}
		@keyframes st-level-3 {
		  0% { max-height: 0; }
		  16.6% { max-height: 0;; }
		  33.2% { max-height: 0; }
		  49.8% { max-height: 0; }
		  66.4% { max-height: 0; }
		  83% { max-height: 100%; }
		  100% { max-height: 100%; }
		}

		#tfanimcont .ch span {
		    font-size: 13px;
		    position: absolute;
		    bottom: 6px;
		    left: 0;
		    right: 0;
		    text-orientation: sideways;
		    transform-origin: bottom left;
		    transform: rotate(-90deg);
		    padding: 3px 0px;
		    display: block;
		    width: 100px;
		    text-align: center;
		    text-transform: capitalize;
		}
		#tfanimcont .ch.right span {
			transform: rotate(90deg);
		    transform-origin: top left;
		    top: 0px;
		    left: 21px;
		}
	</style>
	<div id="tfanimcont">
	  <div class="st st-1"><span>Storylet 1</span></div>
	  <div class="st st-2"><span>Storylet 2</span></div>
	  <div class="st st-3"><span>Storylet 3</span></div>
	  <div class="st st-4"><span>Storylet 4</span></div>
	  <div class="st st-5"><span>Storylet 5</span></div>
	  <div class="st st-6"><span>Storylet 6</span></div>
	  
	  <span class="ch ch-1-2 left"><span>Choice 1</span></span>
	  <span class="ch ch-1-3 right"><span>Choice 2</span></span>
	  <span class="ch ch-2-4 left"><span>Choice 3</span></span>
	  <span class="ch ch-2-5 right"><span>Choice 4</span></span>
	  <span class="ch ch-3-6 left"><span>Choice 5</span></span>
	  <span class="ch ch-3-7 right"><span>Choice 6</span></span>
	</div>
</div>