ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    display: none;
    z-index: 1300;
    overflow: auto;
}
/*******************************************************
* UTILITY
*******************************************************/
.mt-5 {
    margin-top: 5px !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.mt-15 {
    margin-top: 15px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.mt-60 {
    margin-top: 60px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.mr-5 {
    margin-right: 5px !important;
}

.color-theme {
	color: var(--primary-color) !important;
}
.bg-theme {
	background: var(--primary-color) !important;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-align-center {
    align-items: center;
}
.color-fade-6 {
    color: rgba(0, 0, 0, .6) !important;
}
.anchor-block {
    display: block;
    text-decoration: none;
    color: inherit;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 0.2rem rgba(213, 0, 0, 0.3) !important;
    outline: none;
}
textarea.form-control {
    height: auto;
}
.modal .modal-content {
    position: relative;
}
.bg-cheq {
    /* background: repeating-linear-gradient(-45deg, 
    var(--primary-color), 
    var(--primary-color) 0px, 
    var(--primary-color) 0px, 
    #fff 3px); */
    /* background-image: linear-gradient( 108.2deg,  rgba(247,156,20,1) 32.4%, rgba(238,6,0,1) 86.2% ); */
    /* background-image: radial-gradient( circle farthest-corner at 0.2% 0%,  rgba(238,9,121,1) 0%, rgba(255,106,0,1) 100.2% ); */
}
.fullwidth {
    display: block;
    width: 100%;
}
.a-secondary {
    text-decoration: underline;
    color: var(--secondary-color);
}
.or-sep {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #999;
    height: 0;
}
.or-sep .or-text {
    background: var(--secondary-color-light);
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
/******************************************************/

/********************************************************
* Materialize Override
********************************************************/
.container {
    /* box-shadow: 0px 0px 12px 0px #d50000b3;
    padding: 20px 0;
    margin-top: 20px; */
}
.collapsible-header {
    padding: 7px 15px;
}
.collapsible-body {
    padding: 10px 15px;
}
/******************************************************/


/********************************************************
* Simple Accordion
********************************************************/
.acc .header {
    color: #fff;
    margin: 0;
    padding: 7px 10px;
    font-size: 20px;
    background-color: var(--primary-color);
    position: relative;
}
.acc .header .ico {
    position: absolute;
    top: 4px;
    right: 7px;
    cursor: pointer;
}
.acc .body {
    border: 3px double var(--primary-color);
    padding: 15px;
    border-top: none;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-height: 500px;
    overflow: auto;
    transition: all 500ms ease;
    background: #fff;
}
.acc.closed .body {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 !important;
}
.acc .header .down,
.acc.closed .header .up {
    display: none;
}
.acc.closed .header .down {
    display: block;
}
/********************************************************
* PAGE SPECIFIC THNIGS
********************************************************/
.main-container {
    min-height: calc(100vh - 144px);
    /* width: 95%;
    max-width: 1200px; */
    margin: 60px auto;
    margin-bottom: 0;
    padding: 10px 0 30px 0;
}
.page-header {
    font-size: 40px;
    margin: 5px 0 10px;
    padding: 5px 0;
    color: var(--primary-color);
    border-bottom: 1px dashed var(--primary-color);
}
.secondary-header {
    font-size: 30px;
    margin: 5px 0 10px;
    padding: 5px 0;
    color: var(--primary-color);
    border-bottom: 1px dashed var(--primary-color);
}
/*******************************************************/

@media (max-width: 600px) {
    .main-container {
        margin-top: 50px;
    }
    .page-header {
        font-size: 27px;
    }
    .secondary-header {
        font-size: 25px;
    }
    .genre-header {
        font-size: 20px;
    }
}

