.footer {
	margin-bottom: 0;
	background: var(--primary-color-dark);
	color: #fff;
	margin-top: 25px;
	padding-bottom: 30px;
}
.footer .info-text {
	padding: 20px !important;
	text-align: justify;
}
.footer .urls-sec {
	padding: 0 20px !important;
}
.footer .social-connect {
	display: flex;
}
.footer .social-connect li {
	margin-right: 10px;
}
.footer .social-connect li .ico {
	font-size: 22px;
}
.footer .social-connect li a,
.footer .important-links li a {
	color: #fff !important;
}