@import "./common.css";
@import "./headerbar.css";
@import "./sidebar.css";
@import "./footer.css";

:root {
    --card-width: 270px;
    --card-height: 300px;
    --card-small-width: 230px;
    --card-small-height: 260px;
}

.gallery-page .main-container {
    padding: 10px 5px;
}
.gallery-page .category {
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 15px;
}
.talecards-holder {
    display: flex;
    overflow: auto;
    padding-left: 7px;
}
.tale-card {
    width: var(--card-width);
    min-width: var(--card-width);
    max-width: var(--card-width);
    margin-right: 18px;
    height: var(--card-height);
    overflow: hidden;
}
.tale-card .go-btn {
    right: 9px;
}
.tale-card .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0 !important;
    line-height: 22px !important;
}
.tale-card .card-image {
    overflow: visible;
    /* max-height: calc(var(--card-height) / 2); */
    height: calc(var(--card-height) / 2);
}
.tale-card .card-image img {
    max-width: 100%;
    max-height: 100%;
    min-height: 150px;
    margin: 0 auto;
    width: auto;
}
.tale-card .card-content {
    padding: 15px;
    text-align: justify;
    height: calc(var(--card-height) / 2 - 20px);
    overflow: hidden;
}
.tale-card .card-content p {
    line-height: 20px;
    font-size: 14px;
}
/********************************************************
* SLICK-CAROUSEL
********************************************************/
.bx-csl {
    background: #000;
    padding-bottom: 1px;
}
.bx-csl .csl-item .img-wrapper {
    text-align: center;
}
.bx-csl .csl-item .img-wrapper img {
    max-width: 100%;
    margin: 0 auto;
    
}
.bx-csl .navdots {
    text-align: center;
    margin-top: 5px;
}
.bx-csl .navdots li {
    display: inline-block;
    margin: 0 2px;
    font-size: 0;
}
.bx-csl .navdots li button {
    background-color: var(--primary-color);
    color: transparent;
    outline: none;
    border: 0;
    width: 18px;
    height: 9px;
}
.bx-csl .navdots li.slick-active button {
    opacity: .6;
}
/******************************************************/

@media(max-width: 600px) {
    .gallery-page .category {
        font-size: 30px;
        margin-top: 24px;
        margin-bottom: 8px;    
    }
    .gallery-page .tale-card {
        width: var(--card-small-width);
        min-width: var(--card-small-width);
        max-width: var(--card-small-width);
        height: var(--card-small-height);
    }
    .gallery-page .tale-card .card-content {
        height: calc(var(--card-small-height) / 2 - 20px);
    }
    .gallery-page .tale-card .card-image img {
        max-height: calc(var(--card-small-height) / 2);
    }
}