.headerbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--primary-color);
    height: 60px;
    /* padding: 0 10px; */
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 999;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.headerbar .sidenav-trigger {
    padding: 0 10px;
}
.headerbar .logo {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 300ms ease-in;
    margin-left: 30px;
}
.headerbar .logo .anchor-block {
    padding-top: 5px;
}
.headerbar .logo img {
    height: 40px;
}
.headerbar .toggle-sidebar {
    font-size: 20px;
    color: #fff;
}
.headerbar .right-ico-btns {
    display: flex;
    align-items: center;
}
.headerbar .right-ico-btns .ico-btn {
    color: #fff;
    padding: 0 10px 0 5px;
}
#unisearch-container {
    background: var(--primary-color);
    /* background: #83d500; */
    display: flex;
    align-items: center;
    transform: translateY(-54px);
    z-index: 999;
    position: fixed;
    padding: 7px 10px;
    top: 0;
    left: 0;
    right: 0;
    transition: all 300ms ease-in;
}
#unisearch-container.visible {
    transform: translateY(0);
}
#unisearch-container .search-box {
    margin: 0;
    height: 30px;
    color: #fff;
}
#unisearch-container .ico-btn {
    color: #fff;
}
#unisearch-container .search-on {
    width: 150px;
    margin-right: 10px;
}
#unisearch-container .search-on .select-search-field {
    background: var(--primary-color);
    height: 30px;
    display: block;
    border: none;
    color: #fff;
    padding-left: 0;
    font-size: 15px;
}
@media (max-width: 600px) {
    .headerbar {
        height: 50px;
    }
    .headerbar .profile-link {
        top: 56px;
    }
    .headerbar .logo img {
        height: 30px;
    }
}