#sidebar-mask {
    z-index: 1000;
}
.sidebar {
    top: 0;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    outline: 0;
    z-index: 1200;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
    left: 0;
    right: auto;
    box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2), 0px 16px 24px 2px rgba(0,0,0,0.14), 0px 6px 30px 5px rgba(0,0,0,0.12);
    color: rgba(0, 0, 0, 0.87);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform: translateX(-270px);
    background-color: #fff;
}
.sidebar.open {
    transform: translateX(0);
}
.sidebar .inner {
    width: 250px;
}
.sidebar .inner ul {
    padding: 8px 0;
    list-style: none;
}
.sidebar .inner ul li {
    border-bottom: 1px solid var(--primary-color);
}
.sidebar .inner ul li a {
    color: rgba(0, 0, 0, .8);
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}
.sidebar .inner ul li .ico {
    color: var(--primary-color);
    font-size: 20px;
    margin-right: 9px;
}
.sidebar .loginout .login,
.sidebar .loginout.out .logout {
    display: none;
}
.sidebar .loginout.out .login {
    display: block;
}