@import "./common.css";
@import "./headerbar.css";
@import "./sidebar.css";
@import "./footer.css";

.tale-img-sec {
    width: 70%;
    padding: 10px;
}
.tale-img-sec .banner {
    text-align: center;
    /* background: rgba(0, 0, 0, .05); */
    border-radius: 4px;
    margin-bottom: 15px;
}
.tale-img-sec .banner img {
    max-width: 100%;
}
.tale-info-sec {
    width: 30%; 
    padding: 10px;
}
.title-line {
    font-size: 20px;
}
.page-start-block {
    border-bottom: 10px solid #ffcdd2;
    margin: 0;
    padding: 5px 10px 0 10px;
    /* color: var(--primary-color); */
}
.page-start-block .date {
    font-size: 14px;
    display: flex;
    align-items: top;
}
.page-start-block .date .ico {
    margin-right: 5px;
    color: var(--primary-color);
    padding-top: 4px;
}
.page-start-block .banner img {
    max-width: 100%;
    max-height: 300px;
    margin: 0 auto;
    display: block;
    background: #000;
    border-radius: 4px;
}
.page-start-block .title-line {
    font-size: 25px;
    margin: 10px 0;
}
.page-start-block .subtitle-line {
    font-size: 16px;
    margin: 5px 0;
}
.page-start-block .count-group {
    display: inline-block;
    padding: 3px 3px;
}
.page-start-block .fb-like-and-share-container {
    display: inline-block;
    margin-top: 7px;
}
.page-start-block .fb-like-and-share-container iframe {
    height: 25px !important;
    width: 150px !important;
    margin-top: 10px;
}
.page-start-block .genre {
    border-top: 1px solid #d5000040;
    padding-top: 10px;
    margin-top: 5px;
}
.page-start-block .tags {
    list-style: none;
    padding: 7px 0 0;
    margin: 0;
}
.page-start-block .tags .tagli {
    padding: 5px 10px;
    margin-right: 5px;
    color: var(--primary-color);
    font-size: 12px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    height: 22px;
}
.page-start-block .tags .tagli .ico {
    margin-right: 5px;
    color: var(--primary-color);
}
.page-start-block .story-desc {
    padding: 15px 0 25px;
}
.custom-modal .modal-content {
    padding-top: 60px;
}
.custom-modal .header {
    font-size: 22px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
}
.custom-modal .steps {
    padding: 7px 0 7px 30px;
    margin-top: 15px;
}
.custom-modal .steps > li {
    list-style-type: decimal;
}
.custom-modal .steps li + li {
    margin-top: 5px; 
}
.custom-modal .ico {
    color: var(--primary-color);
}
#custom-url-section {
    display: none;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 10px;
    word-break: break-word;
    text-align: justify;
}
.story-desc .header {
    background-color: transparent !important;
    font-size: 24px;
    color: rgba(0, 0, 0, .7) !important;
    padding: 0 !important;
}
.story-desc .body {
    border: unset !important;
    padding: 15px 0 !important;
    color: rgba(0, 0, 0, .6) !important;
    text-align: justify;
}
#disqus_thread {
    /* margin-top: 54px; */
    padding: 15px;
}
.visit-custom-url {
    color: var(--primary-color);
    text-decoration: none;
    display: inline-flex;
}
.author-name {
    text-decoration: none;
    color: #d50000 !important;
    display: block;
}
.component-box .icofn-btn {
    position: absolute;
    top: -20px;
    right: 15px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px double var(--secondary-light);
    border-radius: 50%;
    background: #fff;
    color: rgb(0 0 0 / 63%);
}
.component-box .st-menu {
    position: absolute;
    top: 0;
    right: 0;
}
.component-box .st-menu .menu {
    background: #fff;
    padding: 10px 0;
    position: absolute;
    box-shadow: 0px 0px 4px 1px #999;
    top: -3px;
    right: 33px;
    border: 5px double var(--secondary-light);
    width: 140px;
    transition: transform 500ms ease;
    transform: scale(0);
    transform-origin: top right;
}
.component-box .st-menu.visible .menu {
    transform: scale(1);
}
.component-box .st-menu .menu li {
    padding: 5px 10px;
    cursor: default;
}
.component-box .st-menu .menu li:active {
    transform: scale(.9);
}

#reactale-comments-area {
    margin-top: 30px;
}

/* Facebook comments work perfect on 764 and below */
@media (min-width: 765px) {
    #facebook-comments-tab iframe {
        width: 100% !important;
    }
}

@media (max-width: 767px) {
    .tale-img-sec,
    .tale-info-sec {
        width: 100%;
        padding: 0;
    }
}